body {
}

.container-fluid {
    background-color: #ffffff;
}

.combox {
    border-radius: 25px;
    position: absolute;
    right: 30px;
    top: 200px;
    width: 200px;
    height: 300px;
    background-color: #2b5497;
    color: white;
    padding: 15px;
}

.footerText {
    font-size: 10px;
}
#row1 {
    padding-top:25px;
    padding-bottom:10px;
}
#row3 {
    padding-bottom:20px;
}
#row4 {
    padding-top:30px;
    padding-bottom:40px;
    background-color: #1c1c1c;
    color:#ededed;
    width: auto;
}
/* --- MENU ----*/
#mainmenu_1lvl {
    
}

/* --- LÄNKAR --- */
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration:none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.footerLinks {
    color:#ededed !important;
}
.footerLinks:hover {
    color:#ededed !important;
    text-decoration:none !important;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: auto;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #ededed;
    height: 100%;
    border-right: solid;
    border-right-color: #909090;
    border-right-width: 2px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #131d3a;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}