@model ShopingCart
@{
    ViewBag.Title = "Din Kundvagn";
    Layout = "_LayoutHomePage";
}
@*@Html.Partial("_MainMenu", Model.CategoryMenu)
    @Html.Partial("_Breadcrumb", Model.CategoryMenu)*@

<table class="table table-striped">
    <tr><th>Namn</th><th>Pris</th><td></td></tr>
    @if (Model.KundVagn.Count < 1)
    {
        <tr>
            <td>Kundvagnen är tom</td>
            <td></td>
        </tr>

    }

    @foreach (var item in Model.KundVagn)
            {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Price Kr</td>

            <td>


                <a href="~/Checkout/Delete/?productID=@item.ProductID"><input id="id" type="button" class="btn btn-xs btn-danger" value="Ta bort" name="id" /><span class="glyphicon glyphicon-trash "></span></a>

            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    //Ta bort kassa-knappen i kundvagnen.
    $(document).ready(function () {
        $('#kassa').attr("disabled", true);
    });

</script>