@model List<ShoppingCartVM>

<table class="table table-striped">
    <tr><th>Namn</th><th>Pris</th></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.ProductName</td><td>@item.Price</td></tr>
    }
</table>