<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=duke;AccountKey=gcycuGDB5g5UADNu6VFM19AiNV8DeAGpatc3ZM52nMXKtJFScqxwkVewJD6WRwA5AU+7MR08mxJhh6Gwh15l2g==;BlobEndpoint=https://duke.blob.core.windows.net/;TableEndpoint=https://duke.table.core.windows.net/;QueueEndpoint=https://duke.queue.core.windows.net/;FileEndpoint=https://duke.file.core.windows.net/" />
    <add key="destContainer" value="images"/>
  </appSettings>
</configuration>
