@using kontorsprylar.ViewModels
@model AddProductViewModel
@{
    ViewBag.Title = "Lägg till produkt";
    Layout = "_AdminLayout";
}

<form asp-controller="admin" asp-action="addproduct">
    <div class="container-fluid" style="height:1000px">
        <div class="col-sm-1">
        </div>
        <div asp-validation-summary="ValidationSummary.All"></div>
        <div class="col-sm-1">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName"></span>

        </div>


        <div class="col-sm-1">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price"></span>
        </div>
        <div class="col-sm-1">
            <label asp-for="CampaignPrice"></label>
            <input asp-for="CampaignPrice" class="form-control" />
            <span asp-validation-for="CampaignPrice"></span>
        </div>
        <div class="col-sm-1">
            <label asp-for="StockQuantity"></label>
            <input asp-for="StockQuantity" class="form-control" />
            <span asp-validation-for="StockQuantity"></span>
        </div>
        <div class="col-sm-1">
            <label asp-for="ImgLink"></label>
            <input asp-for="ImgLink" class="form-control" />
            <span asp-validation-for="ImgLink"></span>
        </div>


        <div class="col-sm-4">
            <div class="checkbox">
                <label asp-for="ForSale"><input type="checkbox" asp-for="ForSale" />Available on site</label>
            </div>
            <input id="submitProduct" type="submit" class="btn btn-primary" value="Add product" />
        </div>

        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <label asp-for="Description"></label>
            <textarea rows="5" asp-for="Description" class="form-control" ></textarea>
            <span asp-validation-for="Description"></span>

        </div>

    </div>
</form>