@using kontorsprylar.ViewModels
@model ProductDetailPageVM
@{
    ViewBag.Title = "Lägg till produkt";
    Layout = "_LayoutHomePage";
}


@{
    Layout = null;
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Kontorsprylar.se</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/script/jquery.js"></script>
    <script src="~/script/bootstrap.js"></script>
    <script src="~/script/sitescript.js"></script>
</head>

<form asp-controller="admin" asp-action="addproduct">
    <div asp-validation-summary="ValidationSummary.All"></div>
    <div class="col-xs-6">
        <label asp-for="Product.ProductName"></label>
        <input asp-for="Product.ProductName" class="form-control" />
        <span asp-validation-for="Product.ProductName"></span>
        <br />
    </div>
    <div class="col-xs-2">
        <label asp-for="Product.Price"></label>        
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price"></span>
        <br />
    </div>
    <div class="col-xs-2">
        <label asp-for="Product.CampaignPrice"></label>
        <input asp-for="Product.CampaignPrice" class="form-control" />
        <span asp-validation-for="Product.CampaignPrice"></span>
        <br />
    </div>
    <div class="col-xs-2">
        <label asp-for="Product.StockQuantity"></label>
            <input asp-for="Product.StockQuantity" class="form-control" />
            <span asp-validation-for="Product.StockQuantity"></span>
            <br />
</div>
    <div class="col-xs-6" >
        <label asp-for="Product.Description"></label>
        <textarea class="form-control" rows="5" asp-for="Product.Description" id="comment"></textarea>
        <span asp-validation-for="Product.Description"></span>
        <br />
</div>
    <div class="col-xs-6">
        <label asp-for="Product.ImgLink"></label>
        <input asp-for="Product.ImgLink" class="form-control" />
        <span asp-validation-for="Product.ImgLink"></span>
        <br />
    </div>
    <div class="col-xs-6">
        <label asp-for="Product.ForSale"></label>
        <input asp-for="Product.ForSale" class="form-control" />
        <br />
    </div>

@*
    @foreach (var cat in Model.CategoryToShow)
    {
        <tr>
            <td>
                <a href="/admin/@cat.ID">@cat.Name</a>
            </td>
        </tr>
    }
*@
    <br />
    <br />

    <input id="submitProduct" type="submit" class="btn btn-primary" value="Add product" />
</form>
