@using kontorsprylar.ViewModels
@model AddProductViewModel

@{
    ViewBag.Title = "Lägg till produkt";
    Layout = "_AdminLayout";
}


<form asp-controller="admin" asp-action="addproduct" method="post" enctype="multipart/form-data" >
    <div class="container-fluid" style="height:1000px">
        <div class="col-sm-4">

            @*Validering fungerar ej i samband med enctype i form för att kunna ladda upp filer*@
            <div asp-validation-summary="ValidationSummary.All"></div>
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName"></span>
            <br />

            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price"></span>
            <br />

            <label asp-for="CampaignPrice"></label>
            <input asp-for="CampaignPrice" class="form-control" />
            <span asp-validation-for="CampaignPrice"></span>
            <br />

            <label asp-for="StockQuantity"></label>
            <input asp-for="StockQuantity" class="form-control" />
            <span asp-validation-for="StockQuantity"></span>
            <br />

            <label asp-for="Description"></label>
            <textarea rows="5" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label asp-for="ForSale"><input type="checkbox" asp-for="ForSale" />Tillgänglig på sidan</label>
            </div>
            <input id="submitProduct" type="submit" class="btn btn-primary" value="Lägg till produkt" />
        </div>
        <div class="col-sm-2">
            <div>
             
                <img id="imgs" width='170' height="160">
                <input type="file" name="files" id="files" onchange="imgchange(this)" multiple />
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</form>
<script>
    function imgchange(f) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#imgs').attr('src', e.target.result);
        };
        reader.readAsDataURL(f.files[0]);
    }
</script>