

@*<script src="~/script/jqxlistbox.js"></script>
<script src="~/script/jqx-all.js"></script>

<script>

    //Vad ska ViewModellen kicka in? När hämta vad från db och när göra ajax? Bilderna hämtas från Blob-storage.

    $(document).ready(function () {

        //Dela upp i tre....
        $("#splitter").jqxSplitter({ width: '100%', height: '100%', panels: [{ size: '35%' }] });
        //Här vill jag göra ett ajax-anrop och läsa in alla kategorier... De ska sparas i array med objekt.
        //Hur dela upp i tre istället för två?
        //Ska ha två listboxes... En för kategorier och en för produkter.

        //Denna visar aktuell produkt givet vad som är valt i produkt-listboxen
        var updatePanel = function (index) {

            //Måste göra nya left/right för hem och job-adresser
            var container = $('<div style="margin: 5px;"></div>')
            var leftcolumn = $('<div style="float: left; width: 50%;height: 40%"></div>');
            var rightcolumn = $('<div style="float: left; width: 50%;height: 40%"></div>');
            var leftsecondcolumn = $('<div style="float: left; width: 50%;height: 40%"></div>');
            var rightsecondcolumn = $('<div style="float: left; width: 50%;height: 40%"></div>');
            var undercolumn = $('<div style="width: 100%;height:100%"></div>');

            container.append(leftcolumn);
            container.append(rightcolumn);

            container.append(leftsecondcolumn);
            container.append(rightsecondcolumn);
            console.log(index);
            //Här ska jag få HTML för en specifik produkt. Dess ID måste vara kopplat till index i listan
            //via ett hidden field eller linande.
            //
            //var datarecord = JSON.parse(document.getElementById('dataSpan').innerText)[index];
            //console.log(datarecord);
            var produktHeader = "<div align='center' style='margin: 10px;font: bold 16px Arial'><b>Produkt</b></div>";
            console.log("Inne innan");
            var produktID = "<div style='margin: 10px;'><b>ProduktID:</b> " + "55415" + "</div>";
          
            //var id = "<div style='display:none'>" + datarecord.ID + "</div>"
            //Här lagrar jag id som hidden field eller liknande...
            $(leftcolumn).append(nameHeader);
            $(leftcolumn).append(produktID);
        

            //Här är blob-url + ImgLink från DB.
            var imgurl = 'tv.jpg';
            var img = "<div style='margin:10px'><img height='100%' width='100%' src=" + imgurl + " /></div>";
            $(rightcolumn).append(img);
            //Ändra namn på dessa variabler
            //var homeHeader = "<div align='center' style='margin-top: 30px;margin:10px; margin-bottom: 10px;font: bold 16px Arial'><b>Hemadress</b></div>";
            //$(leftsecondcolumn).append(homeHeader);
            var productName = "<div style='margin: 10px;'><b>Adress:</b> "+"Liten TV"+"</div>";
          
            //Gör en skiss för updatepanel
            $(leftsecondcolumn).append(productName);
         

            var specHeader = "<div align='center' style='margin-top: 30px;margin:10px; margin-bottom: 10px;font: bold 16px Arial'><b>Specifications</b></div>";
            var spec1 = "<div style='margin: 10px;'><b>Adress:</b> " + "Svartvit" + "</div>";
       
            $(rightsecondcolumn).append(specHeader);
            $(rightsecondcolumn).append(spec1);


            //var comment = "<div align='center' style='clear: both; margin: 50px;'><div style='font: bold 16px Arial'><b>Notis</b></div><div>" + $('#listbox').jqxListBox('getItem', index).value + "</div></div>";
            //container.append(comment);
            container.append(undercolumn);

            //$(undercolumn).append(comment);
            $("#ContentPanel").html(container.html());
        }

        //Från tidigare...
        //$("#loginModal").animate({ opacity: 'toggle' }, 400);

    })
</script>*@


Hej

@*<div class="container-fluid">
    <div class="col-sm-6" style="height: 600px">
        <div id="splitter">
            <div style="overflow: hidden;">
                <div style="border: none;" id="listbox">
                </div>
            </div>
            <div style="overflow: hidden;" id="ContentPanel">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div style="height: 5%; margin: 1%">
            <input type="button" id="addContact" value="Lägg till kontakt" onclick="addContactClick()" class="btn btn-primary" style="width: 140px" />
        </div>
        <div style="height: 5%; margin: 1%">
            <input type="button" id="editContact" value="Ändra kontakt" onclick="editContactClick()" class="btn btn-primary" style="width: 140px" />
        </div>
        <div style="height: 5%; margin: 1%">
            <input type="button" id="removeContact" value="Radera kontakt" onclick="deleteContactClick()" class="btn btn-danger" style="width: 140px" />
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>*@