@using kontorsprylar.ViewModels
@model LoginViewModel


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Kontorsprylar.se</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/script/jquery.js"></script>
    <script src="~/script/bootstrap.js"></script>
    <script src="~/script/sitescript.js"></script>
</head>
<body>
    <div class="container">
        <br />
        <div class="col-md-2">
            <a href="/home/index"><img width="150" title="Kontorsprylar.se | Roligare shopping till kontoret" src="~/img/kontorsprylar_logga_header.png" /></a>
        </div>

        <br />
        <br />
        <br />
        <form asp-controller="admin" asp-action="TestAdminLogin">
            <div asp-validation-summary="ValidationSummary.All"></div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email"></span>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password"></span>
            <div class="modal-footer">
                <input id="submitAdmin" type="submit" class="btn btn-primary" value="Logga in" />
            </div>
        </form>
    </div>
</body>
