@using kontorsprylar.ViewModels
@model LoginViewModel

<script>
    window.onload = function() {
        $("#row1").hide();
        $("#row2").hide();
        $("#row3").hide();
    };
</script>
    

<div asp-validation-summary="ValidationSummary.All"></div>
<form onsubmit="isvaliduser(event);">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control">
    <span asp-validation-for="Password"></span>
    <div class="modal-footer">
        <input id="submit" type="submit" class="btn btn-primary" value="Logga in" />
    </div>
</form>


