@model RegistrateViewModel

<div class="form-group">
    <form asp-controller="login" asp-action="registrate">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>

        <br />

        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
        <br />
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street"></span>
        <br />

        <label asp-for="Zip"></label>
        <input asp-for="Zip" class="form-control" />
        <span asp-validation-for="Zip"></span>
        <br />
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City"></span>
        <br />
        <label asp-for="Zip"></label>
        <input asp-for="Zip" class="form-control" />
        <span asp-validation-for="Zip"></span>
        <br />
        <label asp-for="CellPhone"></label>
        <input asp-for="CellPhone" class="form-control" />
        <span asp-validation-for="CellPhone"></span>
        <br />
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone"></span>
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
        <br />
    </form>
    

</div>

