@model List<CategoryMenuViewModel>

<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div> @*PÅ MOBILA ENHETER*@
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav" id="sidenav01">
                <li class="active"><h4><span class="glyphicon glyphicon-align-left"></span> KATEGORIER</h4></li>
                @foreach (var cat in Model)
                {
                    <li>
                        <a href="/store/category/@cat.ID" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
                            @if (cat.SubCategories.Count > 0)
                            {
                                <span class="glyphicon glyphicon-plus"></span>
                            }
                            @cat.Name<span class="caret pull-right"></span>
                        </a>
                        <div class="collapse" id="toggleDemo" style="height: 0px;">
                            <ul class="nav nav-list">
                                @foreach (var sub1 in cat.SubCategories)
                                {
                                    <li>
                                        <a href="/store/category/@sub1.ID">@sub1.Name</a>
                                        <div class="collapse" id="toggleDemo" style="height: 0px;">
                                            <ul class="nav nav-list">
                                                @foreach (var sub2 in sub1.SubCategories)
                                                {
                                                    <li>
                                                        <a href="/store/category/@sub2.ID">@sub2.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>