<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/script/bootstrap.js"></script>
    <script src="~/script/jquery.validate.js"></script>
</head>
<body>

    <div>
        @RenderBody()
    </div>
    
</body>
</html>
