@model List<CategoryMenuViewModel>

<div class="row">
    <div id="mainmenurow" class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/index">Hem</a>
            </div>
            <div class="collapse navbar-collapse js-navbar-collapse">
                @foreach (var cat in Model)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown mega-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @cat.Name<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                            <ul class="dropdown-menu mega-dropdown-menu row">
                                @foreach (var sub1 in cat.SubCategories)
                                {
                                    <li class="col-sm-3">
                                        <ul>
                                            <li class="dropdown-header"><div>@sub1.Name</div></li>
                                            @foreach (var sub2 in sub1.SubCategories)
                                            {
                                                <li><a href="/store/category/@sub2.ID">@sub2.Name</a></li>
                                            }
                                            <li class="divider"></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
            <!-- /.nav-collapse -->
        </nav>
    </div>
</div>