@model LoginViewModel


<script>
    $(document).ready(function(){

        $("#loginModal").animate({ opacity: 'toggle' }, 400);

    })
</script>


<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>            

            <div asp-validation-summary="ValidationSummary.All"></div>
            <form asp-controller="Login" asp-action="Index">
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email"></span>

                <label asp-for="Password"></label>
                <input asp-for="Password">
                <span asp-validation-for="Password"></span>
            </form>

            <div class="modal-footer">
                <input id="SubmitLogin" type="submit" value="submit" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
