@model LoginViewModel

<!-- Modal för Login -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding:20px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Logga in på kontorsprylar.se</h3>
            </div>            
            <div style="margin:30px;">
                <div asp-validation-summary="ValidationSummary.All"></div>
                <form asp-controller="Login" asp-action="Index">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email"></span>
                    <br />
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password"></span>
                    <div class="modal-footer">
                        <input id="submit" type="submit" class="btn btn-primary" value="Logga in" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                    </div>
                </form>
            </div>
            
            
        </div>
    </div>
</div>
