
@using (Html.BeginForm("Index", "Search", FormMethod.Get))

{
    <div>
        <text>Search: </text><input type="text" name="query" />&nbsp;
        <input type="submit" value="Search" id="btnSubmit" />
    </div>
}

